/*body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}*/

body{
    background:#bfbfbf;
    display:flex;
    justify-content:center;
}

.container{
    display:flex;
    max-width:1100px;
    margin:auto;
    background:white;
}

/* colonne gauche */

.left{
    width:30%;
    background:#1f3c55;
    color:white;
    padding:30px;

    display: flex;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
}

.profile{
    text-align:center;
}

.profile img{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-bottom:10px;
}

.stage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section{
    margin-top:0px;
}

.section h3{
    border-bottom:1px solid white;
    padding-bottom:5px;
}

.section ul{
    padding-left:20px;
}

.section li{
    margin-bottom:5px;
}

/* colonne droite */

.right{
    width:65%;
    padding:40px;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #545454;
}

.right h1{
    margin-bottom:0;
}

.right h2{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    border-bottom: 2px solid #2e4f66;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.right ul{
    padding-left:20px;
}

.ligne{
    display:flex;
    align-items:center;
    gap:10px;
}

.dot{
    width:7px;
    height:7px;
    background:#2e4f66;
    border-radius:50%;
}

.diplome{
    font-weight:600;
}

.date{
    margin-left:auto;
    color:#555;
}

.titre{
    color:#2e4f80;
    margin-left:17px;
    margin-top:8px;
}

.desc{
    margin-left:30px;
    color:#555;
    font-size:14px;
    line-height:1.4;
}

.projets h2{
    letter-spacing: 4px;
    border-bottom: 2px solid #2e4f66;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.projet{
    margin-bottom: 15px;
}

.titre{
    font-weight: 600;
    color: #2e4f66;
    margin-bottom: 3px;
}

.desc{
    color: #555;
    font-size: 14px;
    line-height: 1.4;
}
